---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---


<MainLayout title="Titel">

    <!-- hovedafsnit  -->
    <section>
        <div class="class">
            <img src="" alt="">
            <h1></h1>
            <p></p>
        </div>
    </section>

    <!-- den grønne baggrund til alle sektioner  -->
  <div class="class">
      <!-- første afsnit  -->
      <section>
        <div class="class">
            <img src="" alt="">
            <h2></h2>
            <p></p>
        </div>
    </section>

     <!-- andet afsnit  -->
     <section>
        <div class="class">
            <img src="" alt="">
            <h2></h2>
            <p></p>
        </div>
    </section>


     <!-- tredje afsnit  -->
     <section>
        <div class="class">
            <img src="" alt="">
            <h2></h2>
            <p></p>
        </div>
    </section>


     <!-- fjerde afsnit  -->
     <section>
        <div class="class">
            <img src="" alt="">
            <h2></h2>
            <p></p>
        </div>
    </section>


     <!-- femte afsnit  -->
     <section>
        <div class="class">
            <h2></h2>
            <h2></h2>
            <Button></Button>
            <img src="" alt="">
        </div>
    </section>


     <!-- countdown afsnit  -->
     <section>
        <div class="class">
            <!-- countdown -->
            <!-- svg -->
        </div>
    </section>
  </div>
  

</MainLayout>




<Button>

</Button>