---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---


<MainLayout title="Titel">

    <!-- hovedafsnit note: billede skal være længere nede!! -->

    <section class=" grid md:grid-cols-2 md:pb-32 ">
        <div class="relative max-w-xl mx-auto">
            <img class="overflow-hidden object-cover h-[160%] md:h-auto" src="/images/img1_deltag.webp" alt="hænder og computer">
        </div>
        <div class="py-5 grid content-center md:pl-12">
             <h1 class="text-4xl pb-6 py-8 text-white absolute top-80 left-20 md:relative md:top-1 md:left-16  md:text-[#1B1E1A] md: md:text-4xl">Deltag i Digital Skraldedag
                </h1>
            <p class="px-16 pb-16 mt-60 md:mt-0 text-[#1B1E1A] font-josefin">Vi lever i en digital verden, hvor opretholdelsen af internettets systemer kræver store mængder energi. 
                Dette er hverken bæredygtigt for vores planet eller for os som samfund. For at imødegå denne udfordring har vi lanceret Digital Skraldedag – en indsats, der giver os mulighed for at reducere vores digitale affald og dermed bidrage til en mere bæredygtig fremtid.
                <br>Vil du være med til at skabe forandring? Bliv en del af fællesskabet og hjælp os med at gøre en forskel ved at deltage i Digital skraldedag. 
                <br> <br> Spred budskabet, og del begivenheden med en ven! </p>
        </div>
    </section>
   

  <div class="bg-[#A3B18A]">
      <!-- første afsnit  -->
     
    <section class="md:pb-6">
        <div class="px-16 py-2 md:grid grid-cols-2 ">
            <div class="relative max-w-xl mx-auto">
                    <img class="pt-24  md:pl-5 md:pt-36" src="/images/img_1.webp" alt="to personer med tlf">
            </div>
            <div class="md:pt-24 md:pl-16">
                <h2 class=" text-[#1B1E1A] md:col-span-2 pb-8 pt-10 text-xl font-koulen">Ryd op på din smartphone </h2>
                 <p class="text-[#1B1E1A] md:pr-16 font-josefin">Fjern alle applikationer, som du ikke har brugt i et stykke tid, eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men endnu ikke rigtig har prøvet. 
                    Chancen for, at du pludselig begynder at bruge dem senere, er ret lille! De bruger energi, selv når de ikke er i brug, og kan optage hundreder af megabytes under månedlige opdateringer.
                    Husk at slette brugerprofiler (inklusive e-mails) og tilknyttede data, som du oprettede, da du var 15 år og ikke har brugt i et årti eller mere! <br> <br> Du vil fremskynde din telefon og øge batterilevetiden. Det er altid værd at have så få apps som nødvendigt.
                    Gennemgå dine billeder og videoer. Ved at slette de unødvendige, samt eventuelle dubletter, kan du frigøre titusinder af gigabytes værdifuld lagerplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.</p>
            </div>
            
        </div>
    </section>




     <!-- andet afsnit  -->
     <section class="md:pb-2 pb-3">
        <div class="px-16 md:grid grid-cols-2 gap-5 md:pb-8">
            <div class="order-1 relative max-w-xl mx-auto">
                <img class="pt-32 md:pl-5" src="/images/img_harddisk.webp" alt="harddisk">
            </div>
            <div class="md:pt-20 md:pl-16">
                <h2 class="md:col-span-2 pb-8 pt-14 text-xl text-[#1B1E1A] font-koulen" >Ryd op på din computer harddrive </h2>
                 <p class="md:pr-20 text-[#1B1E1A] font-josefin">Ryd op på din personlige computer, og slet filer, der er dubletter eller er blevet overflødige. Gennemgå alle dine billeder, og slet dubletter og slørede billeder. Tjek videofilerne, og slet dem, du har set, eller som ikke er nødvendige. Arkiver de vigtige filer. 
                    Vær forberedt på at finde virkelig fantastiske ting på din computer! 
                    Se retningslinjerne for, hvordan du rydder op på din computer og drev.</p>
            </div>
            
        </div>
    </section>


     <!-- tredje afsnit  -->
     <section>
        <div class="px-16 md:grid grid-cols-2 gap-2">
            <div class="relative max-w-xl mx-auto md:pl-0">
                <img class="pt-28" src="/images/img_mail.webp" alt="email">
            </div>
            <div class="md:pt-20 md:pl-20">
                <h2 class="text-[#1B1E1A] md:col-span-2 pb-8 pt-14 text-xl font-koulen">Ryd op i din indbakke </h2>
                 <p class="text-[#1B1E1A] font-josefin md:pr-20 pb-8">Filtrér e-mails efter de ældste, og arkiver dem. Afmeld nyhedsbreve, du alligevel ikke læser. Vælg lange samtaler, behold den nyeste, og slet resten! <br> Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem på én gang. 
                    Vær modig, og tryk på slet-knappen.
                    Se retningslinjerne for, hvordan du rydder op i din indbakke!</p>
            </div>
            
        </div>
    </section>


     <!-- fjerde afsnit  -->
     <section>
        <div class="px-16 md:grid grid-cols-2 md:gap-8 md:pb-28 md:pt-20 pb-4">
            <div class="relative max-w-xl mx-auto order-1">
                <img class="pt-20 order-1 md:pl-10" src="/images/img_ide.webp" alt="lyspære">
            </div>
            <div class="md:pt-6  md:pl-20">
                <h2 class="text-[#1B1E1A] md:col-span-2 pb-8 pt-14 text-xl font-koulen">Nye tiltag </h2>
                 <p class="pb-28 md:pr-6 text-[#1B1E1A]font-josefin">I stedet for at sende e-mails, brug flere co-working steder. Stop med at sende 'ok' og 'tak' e-mails! 
                    Opbevar de vigtige filer i én cloud-løsning, så der ikke er behov for at gemme den samme fil på hver computer. Tænk dig om, før du laver backup. Skab mindre 'hurtigt indhold', og vær mere bevidst om dine videoer og billeder. 
                    Sørg for kun at tage backup af de filer, du virkelig har brug for, og kun de fotos, du elsker.
                    Små ændringer i dine internetvaner, såsom at slukke for video under virtuelle møder, reducere kvaliteten på streamingtjenester, mindske spilletid, begrænse tiden på sociale medier og afmelde nyhedsbreve og e-maillister, kan markant reducere dit miljøaftryk!
                   <br> <br> Vær kreativ og lev let!</p>
            </div>
            
        </div>
    </section>
  </div>
  <svg width="" height="" viewBox="0 0 1728 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
    <path opacity="0.25" d="M0 0V46.29C68.8176 68.49 149.17 78.46 227.52 74.29C328.838 68.92 423.835 40.98 525.312 36.79C631.642 32.43 737.77 53.67 839.52 72.05C939.269 90.05 1038.67 96.93 1141.06 85.13C1193.11 79.13 1241.64 67.29 1291.46 55.79C1424.87 25 1602.72 -14.29 1728 52.47V0H0Z" fill="#A3B18A"/>
    <path opacity="0.5" d="M0 0V15.81C18.72 36.92 39.8016 56.86 68.6736 72.05C143.15 111.27 237.6 111 323.395 91.58C368.251 81.43 409.925 65.51 452.52 51.78C511.445 32.78 574.531 5.78 640.915 2.11C693.13 -0.74 743.011 11.53 782.899 33.67C828.648 59.06 872.64 95.67 932.126 106.67C990.36 117.46 1049.27 99.98 1103.67 82.39C1158.08 64.8 1211.9 43.39 1272.04 39.34C1358.05 33.49 1435.16 62.22 1515.25 78.18C1558.74 86.84 1600.21 84.35 1640.66 70.68C1672.96 59.79 1709.78 43.75 1728 21.44V0H0Z" fill="#A3B18A"/>
    <path d="M0 0V5.63C215.899 59 452.29 71.32 685.195 42.57C747.115 34.93 806.486 22.45 868.954 16.11C953.914 7.48 1030.92 28.35 1107.36 51.51C1192.22 77.22 1275.84 95.24 1369.73 90C1494.33 83 1618.07 44.29 1728 5.19V0H0Z" fill="#A3B18A"/>
    </svg>

      <!-- femte afsnit  -->
      <section class="pt-16 pb-28">
        <div class="pl-16">
            <p class="pb-10 pr-8 text-center text-lg text-[#1B1E1A] font-josefin">Vil du gøre en forskel og skabe en mere bæredygtig verden? <br> Bliv en del af bevægelsen ved at registrere dit bidrag her.</p>
            <div class="pl-20 md:pl-0 md:text-center text-[#5C7650] hover:text-[#FFFFFA]">
                <Button>Registrer dit bidrag her </Button>
            </div>
        </div>
    </section>


     <!-- countdown afsnit  -->
     <section class="pt-2 pb-10">
        <article class="py-5 bg-[#5C7650]">
          <div class="flex flex-auto gap-4 justify-center py-7 md:flex md:justify-between md:px-20 bg-[#FFFFFA] md:space-x-4">
            <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
            <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
            <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
          </div>
        </article>
        <svg width="" height="" viewBox="0 0 1728 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.25" d="M0 0V46.29C68.8176 68.49 149.17 78.46 227.52 74.29C328.838 68.92 423.835 40.98 525.312 36.79C631.642 32.43 737.77 53.67 839.52 72.05C939.269 90.05 1038.67 96.93 1141.06 85.13C1193.11 79.13 1241.64 67.29 1291.46 55.79C1424.87 25 1602.72 -14.29 1728 52.47V0H0Z" fill="#A3B18A"/>
            <path opacity="0.5" d="M0 0V15.81C18.72 36.92 39.8016 56.86 68.6736 72.05C143.15 111.27 237.6 111 323.395 91.58C368.251 81.43 409.925 65.51 452.52 51.78C511.445 32.78 574.531 5.78 640.915 2.11C693.13 -0.74 743.011 11.53 782.899 33.67C828.648 59.06 872.64 95.67 932.126 106.67C990.36 117.46 1049.27 99.98 1103.67 82.39C1158.08 64.8 1211.9 43.39 1272.04 39.34C1358.05 33.49 1435.16 62.22 1515.25 78.18C1558.74 86.84 1600.21 84.35 1640.66 70.68C1672.96 59.79 1709.78 43.75 1728 21.44V0H0Z" fill="#A3B18A"/>
            <path d="M0 0V5.63C215.899 59 452.29 71.32 685.195 42.57C747.115 34.93 806.486 22.45 868.954 16.11C953.914 7.48 1030.92 28.35 1107.36 51.51C1192.22 77.22 1275.84 95.24 1369.73 90C1494.33 83 1618.07 44.29 1728 5.19V0H0Z" fill="#A3B18A"/>
            </svg>
      
      </section>
  

</MainLayout>
