---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <body>
    <article class="px-4">
      <section>
        <article class="bg-[#DAD7CD] py-12">
          <h1 class="font-koulen text-9xl text-[#1B1E1A] ps-2">DIGITAL</h1>
          <h1 class="font-koulen text-7xl text-[#1B1E1A] ps-2">Oprydningsdag</h1>
          <h2 class="font-koulen text-4xl text-[#A3B18A] ps-2">15 MARTS 2025</h2>
        </article>
      </section>

      <section class="grid grid-cols-2 pt-2 gap-4">
        <article class="bg-[#DAD7CD] p-6">
          <div class="flex flex-auto">
            <p class="text-[#1B1E1A]">Læs mere</p>
            <svg width="20" height="27" viewBox="0 0 43 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8583 8.37364C15.1943 8.00797 15.6499 7.80255 16.125 7.80255C16.6001 7.80255 17.0557 8.00797 17.3917 8.37364L29.9334 22.0274C30.2693 22.3932 30.458 22.8892 30.458 23.4064C30.458 23.9236 30.2693 24.4197 29.9334 24.7854L17.3917 38.4392C17.0538 38.7945 16.6012 38.9911 16.1315 38.9866C15.6617 38.9822 15.2123 38.7771 14.8801 38.4154C14.548 38.0538 14.3595 37.5645 14.3554 37.0531C14.3514 36.5417 14.5319 36.049 14.8583 35.6811L26.1333 23.4064L14.8583 11.1317C14.5224 10.7659 14.3337 10.2699 14.3337 9.75267C14.3337 9.23546 14.5224 8.73942 14.8583 8.37364Z" fill="#1B1E1A"></path>
            </svg>
          </div>
        </article>
        <article class="bg-[#5C7650] gap-4 p-6">
          <div class="flex flex-auto">
            <p class="text-[#1B1E1A]">Registrer</p>
            <svg width="20" height="27" viewBox="0 0 43 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8583 8.37364C15.1943 8.00797 15.6499 7.80255 16.125 7.80255C16.6001 7.80255 17.0557 8.00797 17.3917 8.37364L29.9334 22.0274C30.2693 22.3932 30.458 22.8892 30.458 23.4064C30.458 23.9236 30.2693 24.4197 29.9334 24.7854L17.3917 38.4392C17.0538 38.7945 16.6012 38.9911 16.1315 38.9866C15.6617 38.9822 15.2123 38.7771 14.8801 38.4154C14.548 38.0538 14.3595 37.5645 14.3554 37.0531C14.3514 36.5417 14.5319 36.049 14.8583 35.6811L26.1333 23.4064L14.8583 11.1317C14.5224 10.7659 14.3337 10.2699 14.3337 9.75267C14.3337 9.23546 14.5224 8.73942 14.8583 8.37364Z" fill="#1B1E1A"></path>
            </svg>
          </div>
        </article>
      </section>
    </article>

    <section class="px-4 pt-20">
      <article class="bg-[#A3B18A] py-16">
        <h2 class="font-koulen flex justify-center text-6xl text-[#1B1E1A]">DIGITAL SKRALDEDAG</h2>
        <h2 class="font-koulen flex justify-center pt-4 text-5xl text-[#1B1E1A]">HVAD ER DET?</h2>
      </article>
      <article>
        <p class="text-[#1B1E1A] py-4">Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.</p>
        <p class="text-[#1B1E1A] pb-4">Nu er det femte år, og organiseret af Let's Do It World, Digital Cleanup Day har til formål at øge bevidstheden om digital forurening, opmuntre enkeltpersoner og virksomheder til at rydde op i og omstrukturere deres online tilstedeværelse.</p>
      </article>
    </section>

    <section class="pt-20">
      <article class="py-5 bg-[#5C7650]">
        <div class="flex flex-auto gap-4 justify-center py-7 font-koulen bg-[#FFFFFA]">
          <h3 class="text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
          <h3 class="text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
          <h3 class="text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
        </div>
      </article>
      <svg width="1728" height="120" viewBox="0 0 1728 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.25" d="M0 0V46.29C68.8176 68.49 149.17 78.46 227.52 74.29C328.838 68.92 423.835 40.98 525.312 36.79C631.642 32.43 737.77 53.67 839.52 72.05C939.269 90.05 1038.67 96.93 1141.06 85.13C1193.11 79.13 1241.64 67.29 1291.46 55.79C1424.87 25 1602.72 -14.29 1728 52.47V0H0Z" fill="#A3B18A"></path>
        <path opacity="0.5" d="M0 0V15.81C18.72 36.92 39.8016 56.86 68.6736 72.05C143.15 111.27 237.6 111 323.395 91.58C368.251 81.43 409.925 65.51 452.52 51.78C511.445 32.78 574.531 5.78 640.915 2.11C693.13 -0.74 743.011 11.53 782.899 33.67C828.648 59.06 872.64 95.67 932.126 106.67C990.36 117.46 1049.27 99.98 1103.67 82.39C1158.08 64.8 1211.9 43.39 1272.04 39.34C1358.05 33.49 1435.16 62.22 1515.25 78.18C1558.74 86.84 1600.21 84.35 1640.66 70.68C1672.96 59.79 1709.78 43.75 1728 21.44V0H0Z" fill="#A3B18A"></path>
        <path d="M0 0V5.63C215.899 59 452.29 71.32 685.195 42.57C747.115 34.93 806.486 22.45 868.954 16.11C953.914 7.48 1030.92 28.35 1107.36 51.51C1192.22 77.22 1275.84 95.24 1369.73 90C1494.33 83 1618.07 44.29 1728 5.19V0H0Z" fill="#A3B18A"></path>
      </svg>
    </section>

    <section class="pt-20 px-4">
      <article class="bg-[#DAD7CD] py-20">
        <div class="flex justify-center bg-[#FFFFFA] py-20 mx-20">
          <div>
            <h2 class="text-5xl font-koulen text-[#1B1E1A]">REGISTRER</h2>
            <h2 class="text-5xl font-koulen py-2 text-[#1B1E1A]">DIT BIDRAG</h2>
            <h2 class="text-6xl font-koulen text-[#1B1E1A]">NU!</h2>
          </div>
        </div>

        <div class="bg-[#5C7650] mt-6 py-2 mx-20">
          <div class="flex justify-center">
            <p class="text-[#1B1E1A]">Registrer</p>
            <svg width="20" height="27" viewBox="0 0 43 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8583 8.37364C15.1943 8.00797 15.6499 7.80255 16.125 7.80255C16.6001 7.80255 17.0557 8.00797 17.3917 8.37364L29.9334 22.0274C30.2693 22.3932 30.458 22.8892 30.458 23.4064C30.458 23.9236 30.2693 24.4197 29.9334 24.7854L17.3917 38.4392C17.0538 38.7945 16.6012 38.9911 16.1315 38.9866C15.6617 38.9822 15.2123 38.7771 14.8801 38.4154C14.548 38.0538 14.3595 37.5645 14.3554 37.0531C14.3514 36.5417 14.5319 36.049 14.8583 35.6811L26.1333 23.4064L14.8583 11.1317C14.5224 10.7659 14.3337 10.2699 14.3337 9.75267C14.3337 9.23546 14.5224 8.73942 14.8583 8.37364Z" fill="#1B1E1A"></path>
            </svg>
          </div>
        </div>
      </article>
    </section>
    <section class="px-4">
      <article class="bg-[#DAD7CD] py-20 px-4">
        <div class="flex justify-center bg-[#FFFFFA] py-20 mx-20">
          <div>
            <h2 class="text-[#1B1E1A] text-5xl font-koulen">DELTAG</h2>
            <h2 class="text-[#1B1E1A] text-5xl font-koulen">ALLEREDE</h2>
            <h2 class="text-[#1B1E1A] text-6xl font-koulen">NU!</h2>
          </div>
        </div>

        <div class="flex justify-center bg-[#5C7650] mt-6 py-2 mx-20">
          <div class="flex justify-center">
            <p class="text-[#1B1E1A]">Læs mere</p>
            <svg width="20" height="27" viewBox="0 0 43 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8583 8.37364C15.1943 8.00797 15.6499 7.80255 16.125 7.80255C16.6001 7.80255 17.0557 8.00797 17.3917 8.37364L29.9334 22.0274C30.2693 22.3932 30.458 22.8892 30.458 23.4064C30.458 23.9236 30.2693 24.4197 29.9334 24.7854L17.3917 38.4392C17.0538 38.7945 16.6012 38.9911 16.1315 38.9866C15.6617 38.9822 15.2123 38.7771 14.8801 38.4154C14.548 38.0538 14.3595 37.5645 14.3554 37.0531C14.3514 36.5417 14.5319 36.049 14.8583 35.6811L26.1333 23.4064L14.8583 11.1317C14.5224 10.7659 14.3337 10.2699 14.3337 9.75267C14.3337 9.23546 14.5224 8.73942 14.8583 8.37364Z" fill="#1B1E1A"></path>
            </svg>
          </div>
        </div>
      </article>
    </section>
  </body>

  <section class="pt-20">
    <article class="bg-[#A3B18A] py-20 px-4">
      <div class="bg-[#DAD7CD] py-10">
        <h2 class="font-koulen flex justify-center text-6xl text-[#1B1E1A]">PROBLEMET MED</h2>
        <h2 class="font-koulen flex justify-center pt-5 text-5xl text-[#1B1E1A]">DIGITALT SKRALD</h2>
      </div>
      <div>
        <p class="text-[#1B1E1A] pt-3">Ifølge data fra Lancaster University, hvor et team af eksperter forsker i internettets miljøpåvirkning, står datacentrene i øjeblikket for mellem 1,8 % og 2,8 % af verdens elforbrug. Men hvis der tages højde for hele industriens påvirkning, inklusiv fabrikker og forsyningskæder, udvinding eller transport, stiger dette til 20 %. Det betyder, at vores digitale aktivitet forurener mere end nogle lande som Schweiz eller Norge.</p>
        <p class="text-[#1B1E1A] pt-3">Baseret på de seneste års væksttendenser anslås det desuden, at serverforbruget i 2025 vil kunne udgøre så meget som 8 % af verdens samlede elforbrug, og hvis det samlede beløb for hele industrien lægges sammen, vil CO2-emissionerne være lige så højt som dem i verdens fjerde mest forurenende land, Rusland, lige efter Kina, USA og Indien.</p>
      </div>
    </article>
  </section>

  <section class="pt-20">
    <article class="bg-[#DAD7CD] py-20 px-4">
      <div class="bg-[#A3B18A] py-10">
        <h2 class="font-koulen flex justify-center text-6xl text-[#1B1E1A]">VIDSTE DU?</h2>
        <h2 class="font-koulen flex justify-center pt-5 text-5xl text-[#1B1E1A]">VED AT RYDDE OP</h2>
      </div>
      <div>
        <p class="text-[#1B1E1A] pt-3">Hjælper med at reducere CO2-udledning</p>
        <p class="text-[#1B1E1A] pt-3">Forlænger dine enheders levetid</p>
        <p class="text-[#1B1E1A] pt-3">Reducerer datalagring sikkerhedsrisici</p>
      </div>
    </article>
  </section>

  <section class="pt-20 pb-20">
    <article class="py-5 bg-[#5C7650]">
      <div class="flex flex-auto gap-4 justify-center py-7 bg-[#FFFFFA]">
        <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
        <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
        <h3 class="font-koulen text-[#A3B18A] text-2xl">15 MARTS 2025</h3>
      </div>
    </article>
    <svg width="1728" height="120" viewBox="0 0 1728 120" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.25" d="M0 0V46.29C68.8176 68.49 149.17 78.46 227.52 74.29C328.838 68.92 423.835 40.98 525.312 36.79C631.642 32.43 737.77 53.67 839.52 72.05C939.269 90.05 1038.67 96.93 1141.06 85.13C1193.11 79.13 1241.64 67.29 1291.46 55.79C1424.87 25 1602.72 -14.29 1728 52.47V0H0Z" fill="#A3B18A"></path>
      <path opacity="0.5" d="M0 0V15.81C18.72 36.92 39.8016 56.86 68.6736 72.05C143.15 111.27 237.6 111 323.395 91.58C368.251 81.43 409.925 65.51 452.52 51.78C511.445 32.78 574.531 5.78 640.915 2.11C693.13 -0.74 743.011 11.53 782.899 33.67C828.648 59.06 872.64 95.67 932.126 106.67C990.36 117.46 1049.27 99.98 1103.67 82.39C1158.08 64.8 1211.9 43.39 1272.04 39.34C1358.05 33.49 1435.16 62.22 1515.25 78.18C1558.74 86.84 1600.21 84.35 1640.66 70.68C1672.96 59.79 1709.78 43.75 1728 21.44V0H0Z" fill="#A3B18A"></path>
      <path d="M0 0V5.63C215.899 59 452.29 71.32 685.195 42.57C747.115 34.93 806.486 22.45 868.954 16.11C953.914 7.48 1030.92 28.35 1107.36 51.51C1192.22 77.22 1275.84 95.24 1369.73 90C1494.33 83 1618.07 44.29 1728 5.19V0H0Z" fill="#A3B18A"></path>
    </svg>
  </section>
</MainLayout>
