---

---

<div class="bg-[#5C7650] py-20">
  <p class="ps-10 text-[#FFFFFA] text-3xl">Kontakt os</p>
  <p class="ps-10 text-[#FFFFFA] pt-4">Let's Do It World NGO</p>
  <p class="ps-10 text-[#FFFFFA] py-3">Roosikrantsi 3, TALLINN 10119,</p>
  <p class="ps-10 text-[#FFFFFA]">Estonia</p>
  <p class="ps-10 text-[#FFFFFA] py-3">Reg. code - 80562203</p>
  <p class="ps-10 text-[#FFFFFA] underline underline-offset-1">digital@ldiw.org</p>

  <p class="ps-10 text-[#FFFFFA] text-3xl pt-12">Følg os</p>
  <p class="ps-10 text-[#FFFFFA] pt-4">Blog</p>
  <p class="ps-10 text-[#FFFFFA] py-3">Marketingmaterialer</p>
  <p class="ps-10 text-[#FFFFFA]">Forfatning</p>
  <p class="ps-10 text-[#FFFFFA] py-3">Deltag i bevægelsen</p>
</div>
